
.nav-pills-neutral {
  .nav-item {
    .nav-link {
      background-color: $opacity-2;
      color: $white;

      &.active {
        &,
        &:focus,
        &:hover {
          background-color: $white;
          color: $primary;
        }
      }
    }
  }
}

.nav-pills-primary {
  .nav-item {
    .nav-link.active {
      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($primary, $primary-states);
      }
    }
  }
}

.nav-pills-info {
  .nav-item {
    .nav-link.active {
      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($info, $info-states);
      }
    }
  }
}

.nav-pills-success {
  .nav-item {
    .nav-link.active {
      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($success, $success-states);
      }
    }
  }
}

.nav-pills-warning {
  .nav-item {
    .nav-link.active {
      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($warning, $warning-states);
      }
    }
  }
}

.nav-pills-danger {
  .nav-item {
    .nav-link.active {
      &,
      &:focus,
      &:hover {
        @include diagonal-gradient($danger, $danger-states);
      }
    }
  }
}
.nav-pills-icons .nav-item .nav-link {
  border-radius: 0.25rem !important;
}
