<div class="right-container" style="border-radius: 13px; position: fixed;">
  
  <div class="card post" style="border-radius: 13px; max-height: 400px;" *ngFor="let ad of ads">
    <div class="card-body">
      <h5 style="color: black;">Sponsored</h5>
      <div class="content">
           <p [innerHTML]="ad.description | linky">
            </p>
           <img *ngIf="ad.imageUrl" width="340px" height="200px" style="object-fit: cover;"   [src]="ad.imageUrl" />
           <p style="color: black;font-size: 9px;">{{datePublished | timeAgo}}</p>
      </div>
    </div>
  </div>
    
</div>
