<h4>New Advertisment</h4>
<!-- <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="toggleAddPane()">{{buttonName[nameIndex]}}</button> -->
<!-- <div *ngIf="showNewAdPane"> -->
<div>
    <form [formGroup]="advertisementForm" (ngSubmit)="onCreateNewPost()">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
            </div>
            <textarea formControlName="advertisementDescriptionTextArea" class="form-control" name="advertisementDescriptionTextArea" aria-label="With textarea" placeholder="Advert description here...." type="text " (focus)="focus=true" (blur)="focus=false"></textarea>
        </div>
        <div>
            <image-upload [url]="IMG_UPLOD_URL"  [max]="1" [extensions]="[ 'jpeg', 'png'] " [buttonCaption]=" 'Browse' " [style]="customStyle " (uploadFinished)="onUploadFinished($event) ">
            </image-upload>
        </div>
        <fieldset class="scheduler-border ">
            <legend class="scheduler-border ">Advertisment settings</legend>
            <div class="container-fluid ">
                <div class="row justify-content-center ">

                    <div class="col-md-6 ">
                        <div class="checkbox ">
                            <label><input formControlName ="targetAgeCheckBox" type="checkbox" value=" " name="targetAgeCheckBox " style="margin-right: 10px; ">Target by age group</label>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        Min:<input formControlName="minAge" type="number" name="minAge " min="18" value="18" style="max-width:50%;margin-left: 10px; ">
                    </div>
                    <div class="col-md-3 ">
                        Max:<input formControlName="maxAge" type="number" name="maxAge" min="19" value="19" style="max-width:50%;margin-left: 10px; ">
                    </div>
                </div>
                <br>
                <div class="row justify-content-center ">
                    <div class="col-md-6 ">
                        <div class="checkbox ">
                            <label><input formControlName="targetLocationCheckBox" type="checkbox" value=" " name="targetLocationCheckBox " style="margin-right: 10px; ">Target by location</label>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        Location:<input formControlName="location" name="location" type="text" style="margin-left: 2px; ">
                    </div>
                </div>
            </div>
        </fieldset>
        <button type="button " class="btn btn-secondary btn-lg btn-block">Create Advertisment</button>
    </form>
</div>
<!-- VIEW AND EDIT ADVERTISEMENT -->
<h2 style="color: black;"> Current Active Advertisements</h2>

<div class="card post" *ngFor="let advert of allAdvertisements; let arrayIndex=index">
    <div class="card-body ">
        <div class="post-content ">
            <div class="form-group">
                <p style="padding: 2%" [innerHTML]="advert.description | linky">
            </div>
            <img width="100%" style="object-fit: cover; max-height: 400px;" class="img-fluid" [src]="advert.imageUrl" />
        </div>
    </div>
    <div class="card-footer row ">
        <div class="col-md-12">
            <button class="btn btn-success" style="float: right;" name="deleteAdvert " (click)="deleteThisAdvert(arrayIndex) ">Delete</button>
        </div>

    </div>
</div>