<h4>Review Posts</h4>
<div>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Post by</th>
                <th>Post description</th>
                <th>Number of bad posts</th>
                <th class="text-center" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let badPost of allBadPosts; let arrayIndex=index">
                <td class="text-center">{{arrayIndex+1}}</td>
                <td>{{badPost.user.firstname}}</td>
                <td>{{badPost.post.description}}</td>
                <td>{{badPost.user.badPostCount}}</td>
                <td class="td-actions text-center">
                    <button class="btn btn-sm btn-white" (click)="acceptBadPost(badPost,arrayIndex)">Accept</button>
                </td>
                <td class="td-actions text-center">
                    <button class="btn btn-sm btn-danger" (click)="rejectBadPost(badPost,arrayIndex)">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>