<h4>Review Posts</h4>
<div>
    <table class="table" style="color: black;">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Post by</th>
                <th>Post description</th>
                <th># of bad posts</th>
                <th class="text-right" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let badPost of allBadPosts; let arrayIndex=index">
                <td class="text-center">index</td>
                <td>{{badPost.name}}</td>
                <td>{{badPost.description}}</td>
                <td>{{badPost.badPostCount}}</td>
                <td class="td-actions text-right">
                    <button class="btn btn-white" (click)="acceptBadPost(badPost,index)">Accept Post</button>
                </td>
                <td class="td-actions text-right">
                    <button class="btn btn-danger" (click)="rejectBadPost(badPost,index)">Danger</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>