<div>
    <div class="col-md-6" style="float: left;">
        <h4>Manage 'bad' words</h4>
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Add Bad Words</legend>
            <form [formGroup]="badWordForm" (ngSubmit)="onAddNewBadWord()">
                <div class="form-row ">
                    <div class="form-group col-md-6 ">
                        <label for="newBadWord">New Bad Word</label>
                        <input formControlName="newBadWord" style="color: black;" type="text" class="form-control" id="nwBadWord" placeholder="new bad word" name="newBadWord " type="text " (focus)="focus=true" (blur)="focus=false ">
                    </div>
                </div>
                <button type="button " class="btn btn-default">Add Word</button>
            </form>
        </fieldset>

        <div style="margin: auto;"><button type="button" class="btn btn-default " (click)="toggleBadWords()">{{buttonName[nameIndex]}}</button></div>
        <div *ngIf="showMeBadWords">
            <fieldset class="scheduler-border ">
                <legend class="scheduler-border ">Current Bad Words</legend>
                <div class="col-md-12 ">
                    <h4>Click on the word to remove it</h4>
                    <span class="badge badge-default " style="margin: 1%;background-color:white;color: black; " *ngFor="let baword of allBwords; let i = index">{{baword}}
                        <button class="btn btn-primary btn-fab btn-icon btn-round" style="opacity: 100%;background: white;" (click)="onRemoveBadWord(i)">
                            <i class="tim-icons icon-simple-remove" style="color: black;"></i>
                       </button>
                    </span>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-md-6" style="float: right;">
        <h4>Manage Deactivated Accounts</h4>

        <table class="table" style="color: black;">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Requested by</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let deactiveAccount of allDeactivatedAccounts; let arrayIndex=index">
                    <td class="text-left">{{arrayIndex+1}}</td>
                    <td>{{deactiveAccount.firstname}} {{deactiveAccount.lastname}}</td>
                    <td class="td-actions text-right">
                        <button class="btn btn-sm btn-danger" (click)="activateAccount(deactiveAccount, arrayIndex)">Activate</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>